
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .social-icon {
    @apply text-gray-400 text-2xl transition-transform transform hover:scale-110 hover:text-white;
  }